body {
  width: 100%;
  background-color: #303841;
  padding: 20px 20px 100px 20px;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

#filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5803921569);
  z-index: -50;
  opacity: 0;
  visibility: hidden;
}

#social-madia {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #F6C90E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  cursor: pointer;
}
#social-madia > i {
  color: #3A4750;
  font-size: 35px;
  font-weight: 800;
  transition: 0.4s ease-in-out;
}
#social-madia > a {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  bottom: 0;
  z-index: -100;
  transition: 0.4s ease-in-out;
}
#social-madia > a > i {
  font-size: 25px;
  color: white;
}
#social-madia #linkedin {
  background-color: #0A66C2;
}
#social-madia #github {
  background-color: #14191E;
}
#social-madia #insta {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f09433", endColorstr="#bc1888", GradientType=1);
}
#social-madia #profile {
  background-color: #00C851;
}

#success {
  width: 500px;
  height: 80px;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #3A4750;
  border: 3px solid #00C851;
  display: flex;
  top: -100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#success > figure {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
#success > figure > img {
  width: 60px;
}
#success > div {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#success > div > h3 {
  color: #00C851;
  font-family: Poppins-Medium;
  font-size: 20px;
  text-transform: uppercase;
}
#success > div > p {
  color: #EEEEEE;
  font-family: Poppins-Regular;
  padding-top: 5px;
}

#modal {
  width: 400px;
  height: 430px;
  position: absolute;
  background-color: #3A4750;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  z-index: -100;
}
#modal > p {
  color: #EEEEEE;
  font-family: Poppins-Medium;
  text-transform: capitalize;
  width: 100%;
  height: 15%;
  border-bottom: 1px solid rgba(23, 23, 23, 0.2588235294);
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
}
#modal > form {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
#modal > form > label {
  font-size: 18px;
  color: #EEEEEE;
  font-family: Poppins-Regular;
  text-transform: capitalize;
}
#modal > form > input {
  background-color: transparent;
  height: 50px;
  border: none;
  outline: none;
  border: 1.5px solid #F6C90E;
  border-radius: 4px;
  padding-left: 10px;
  color: #EEEEEE;
  font-family: Poppins-Regular;
  margin: 10px 0;
}
#modal > form > textarea {
  height: 150px;
  border: 1.5px solid #F6C90E;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  margin: 10px 0;
  color: #EEEEEE;
  font-family: Poppins-Regular;
  padding: 5px 5px 0 10px;
  resize: none;
}
#modal > form > textarea::-webkit-scrollbar {
  width: 3px;
  background-color: #303841;
}
#modal > form > textarea::-webkit-scrollbar-thumb {
  background-color: #F6C90E;
}
#modal > form > button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: #F6C90E;
  color: #EEEEEE;
  text-transform: capitalize;
  font-size: 17px;
  font-family: Poppins-Regular;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
}
#modal > form > button:hover {
  background-color: #aa8a0a;
}

#popup {
  width: 500px;
  height: 200px;
  background-color: #3A4750;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  border: 3px solid #F73D52;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: 0;
  z-index: -100;
}
#popup > h3 {
  color: #EEEEEE;
  font-size: 22px;
  font-family: Poppins-Medium;
  text-transform: capitalize;
}
#popup > div {
  display: flex;
  margin-top: 20px;
}
#popup > div > p {
  color: #EEEEEE;
  font-family: Poppins-Regular;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
#popup > div > p:nth-of-type(1) {
  color: #F73D52;
  margin-right: 50px;
}

#add-box {
  width: 265px;
  height: 250px;
  background-color: #3A4750;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
#add-box > span {
  display: flex;
  width: 80px;
  height: 80px;
  border: 2px dashed #F6C90E;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
#add-box > span > i {
  color: #F6C90E;
  font-size: 30px;
}
#add-box > p {
  text-align: center;
  color: #EEEEEE;
  text-transform: capitalize;
  margin-top: 10px;
  font-family: Poppins-Medium;
}

.active-filter {
  z-index: 50 !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.success-active {
  top: 20px !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.active-modal {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 100 !important;
}

.popup-active {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 100 !important;
}

.delete-note-box {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.note-box {
  width: 265px;
  height: 250px;
  background-color: #3A4750;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-right: 20px;
}
.note-box > h3 {
  font-family: Poppins-Medium;
  font-size: 22px;
  text-transform: capitalize;
  color: #EEEEEE;
  width: 100%;
  height: 20%;
  padding-top: 10px;
  padding-left: 5%;
  display: flex;
  align-items: center;
}
.note-box > p {
  width: 100%;
  height: 65%;
  font-size: 16px;
  font-family: Poppins-Regular;
  color: #cacaca;
  overflow-y: scroll;
  padding-left: 5%;
  padding-bottom: 10px;
}
.note-box > p::-webkit-scrollbar {
  width: 3px;
}
.note-box > p::-webkit-scrollbar-thumb {
  background-color: #F6C90E;
}
.note-box > span {
  width: 90%;
  height: 15%;
  border-top: 1px solid rgba(23, 23, 23, 0.2588235294);
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins-Regular;
  color: #F6C90E;
}
.note-box > span > i {
  color: #F73D52;
  cursor: pointer;
}

.transform {
  transform: rotate(405deg) !important;
  margin-right: 2px !important;
}

.active-linkedin {
  bottom: 70px !important;
}

.active-github {
  bottom: 140px !important;
}

.active-insta {
  bottom: 210px !important;
}/*# sourceMappingURL=master.css.map */